<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Найінстаграмніший комплект 2025 року</title>
    <meta
      name="description"
      content="ТОП+ ЛОСИНИ, ЯКІ ПІДКРЕСЛЮЮТЬ ТВОЮ ФІГУРУ І ВПЕВНЕНІСТЬ."
    />
    <meta name="viewport" content="width=480" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/reset-1.css" />
    <link rel="stylesheet" type="text/css" href="css/styles-1.css?1.0" />

    <link
      rel="preload"
      href="css/AvenirNextCyr-1.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link rel="stylesheet" href="css/AvenirNextCyr-1.css"
    /></noscript>
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min-1.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <meta property="og:title" content="Найінстаграмніший комплект  2025 року" />
    <meta
      property="og:description"
      content="ТОП+ ЛОСИНИ, ЯКІ ПІДКРЕСЛЮЮТЬ ТВОЮ ФІГУРУ І ВПЕВНЕНІСТЬ."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="img/bg.jpeg" />

    <!-- Meta Pixel Code -->
    <!-- End Meta Pixel Code -->

    <script src="js/jquery.min-1.js"></script>
  </head>
  <body>
    <div class="main_wrapper">
      <!-- header 3 -->
      <header class="offer_section offer3">
        <div class="image_block">
          <img
            class="offer_image"
            src="3%20мультиварка/bg-1.png"
            alt="Найзручніші кеди цього сезону"
          />
          <div class="discount_block">
            <div class="value">-<%= sale %>%</div>
            <div class="text">знижка</div>
          </div>
        </div>
        <div class="benefits_list clearfix">
          <div class="benefit_item">Зручність та якість</div>
          <div class="benefit_item">Швидка доставка</div>
          <div class="benefit_item">Оплата при отриманні або передплата</div>
        </div>
        <div class="price_block clearfix">
          <div class="price_item old">
            <div class="text">Звичайна ціна:</div>
            <div class="value"><%= price_old %> грн</div>
          </div>
          <div class="price_item new">
            <div class="text">Ціна зі знижкою:</div>
            <div class="value"><%= price_new %> грн</div>
          </div>
        </div>
        <div class="timer">
          <p>Пропозиція діє:</p>
          <div class="timer_container">
            <div class="timer_block">
              <div class="count hours"></div>
              <div class="text">годин</div>
            </div>
            <div class="timer_block">
              <div class="count minutes"></div>
              <div class="text">хвилин</div>
            </div>
            <div class="timer_block">
              <div class="count seconds"></div>
              <div class="text">секунд</div>
            </div>
          </div>
        </div>

        <a href="#order_form" class="button">Замовити зі знижкою</a>
      </header>

      <section class="description_section">
        <h2 class="title">Найінстаграмніший комплект 2025 року</h2>
        <p class="text">
          ТОП+ЛОСИНИ, ЯКІ ПІДКРЕСЛЮЮТЬ ТВОЮ ФІГУРУ І ВПЕВНЕНІСТЬ. <br />
          Хочеш виглядати і відчувати себе на всі 100% — навіть у звичайний
          день? <br />
          Цей комплект — для дівчат, які люблять комфорт і виглядають в ньому на
          мільйон.
        </p>
        <img
          class="img"
          src="3%20мультиварка/1-1.png"
          alt="Найінстаграмніший комплект 2025 рок"
        />
        <p class="text">
          Цей образ для тебе, якщо ти: <br />
          <br />
          • Хочеш виглядати стильно, навіть коли йдеш на каву; <br />
          • Любиш речі, які “як друга шкіра”; <br />
          • Хочеш мотивацію тренуватись — бо в цьому костюмі хочеться
          рухатись;<br />
          • Ціниш якість, яку видно з першого погляду.
        </p>
        <!-- Структура слайдера -->
        <div class="slider-wrapper">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/swiper1.JPG"
                  alt="1"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/swiper2.JPG"
                  alt="2"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/swiper3.JPG"
                  alt="3"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/swiper4.JPG"
                  alt="4"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/swiper5.JPG"
                  alt="5"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/swiper6.JPG"
                  alt="6"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/swiper7.JPG"
                  alt="7"
                />
              </div>
            </div>
            <!-- Пагинация -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <p class="text">
            <br />
            Що ти отримаєш:<br />
            <br />
            • 7 трендових кольорів — від класичних до сміливих.<br />
            • Тканина дайвінг — щільна, м’яка, ідеально облягає, не просвічує.
            Склад 97% полієстер, 3% еластан. Підходить для тренувань, прогулянок,
            дому чи фото для Instagram.<br />
            • Топ з ідеальною підтримкою та ефектом Push up , не тисне, але
            фіксує.<br />
            • Лосини, які не сповзають і не обмежують рухів.<br />
            • Фігура виглядає краще, постава впевненіша, а відчуття — наче ти вже
            на крок попереду.<br /><br />
            <div class="timer">
            <p>Пропозиція діє:</p>
            <div class="timer_container">
              <div class="timer_block">
                <div class="count hours"></div>
                <div class="text">годин</div>
              </div>
              <div class="timer_block">
                <div class="count minutes"></div>
                <div class="text">хвилин</div>
              </div>
              <div class="timer_block">
                <div class="count seconds"></div>
                <div class="text">секунд</div>
              </div>
            </div>
          </div>
            <a href="#order_form" class="button">Замовити зі знижкою</a>
            <br />
          </p>
          <p class="text">
            Чому дівчата обирають саме нас:<br />
            <br />
            • Обмежена кількість у кожному кольорі — гарантуємо унікальність;<br />
            •
            <span style="margin-left: 10px"
              >Фото без фільтрів — показуємо, як є;</span
            ><br />
            • Ніякого очікування місяцями — доставка швидка, відправляємо в день
            замовлення.<br />
            <br />
            Замов зараз — і відчуй:<br />
            <br />
            • Як одяг може надихати. <br />
            • Як тіло виглядає краще без зусиль. <br />
            • Як комфортно буває бути собою.
          </p>
      </section>

      <section class="description_section">
        <h2 class="title">Розмірна сітка комплекту:</h2>
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
          "
        >
          <img
            class="img"
            src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/5-1.png"
            alt="Найзручніші кеди цього сезону"
          />
        </div>
      </section>

      <section class="reviews4_section">
        <h2 class="title">Відгуки покупців</h2>
        <!-- Структура слайдера -->
        <div class="slider-wrapper">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/review1.jpg"
                  alt="1"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/review2.jpg"
                  alt="2"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/review3.jpg"
                  alt="3"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/review4.jpg"
                  alt="4"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/review5.jpg"
                  alt="5"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/review6.jpg"
                  alt="6"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="3%20%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%B2%D0%B0%D1%80%D0%BA%D0%B0/review7.jpg"
                  alt="7"
                />
              </div>
            </div>
            <!-- Пагинация -->
            <div class="swiper-pagination"></div>
          </div>
        </div>

      </section>

      <section class="order_steps_section">
        <h2 class="title">Як замовити?</h2>
        <div class="order_steps_list1 clearfix">
          <div class="step_item">
            <h4>Заявка</h4>
            <p>Залишаєте заявку на нашому сайті</p>
          </div>
          <div class="step_item">
            <h4>Дзвінок</h4>
            <p>Менеджер уточнює деталі замовлення</p>
          </div>
          <div class="step_item">
            <h4>Відправка</h4>
            <p>Новою Поштою протягом 1-2 днів</p>
          </div>
          <div class="step_item">
            <h4>Отримання</h4>
            <p>Оплачуєте при отриманні поштою</p>
          </div>
        </div>
      </section>

      <section class="offer_section offer3">
        <div class="image_block">
          <img
            class="offer_image"
            src="3%20мультиварка/bg-1.png"
            alt="Найзручніші кеди цього сезону"
          />
          <div class="discount_block">
            <div class="value">-<%= sale %>%</div>
            <div class="text">знижка</div>
          </div>
        </div>
        <div class="benefits_list clearfix">
          <div class="benefit_item">Зручність та якість</div>
          <div class="benefit_item">Швидка доставка</div>
          <div class="benefit_item">Оплата при отриманні або передплата</div>
        </div>
        <div class="price_block clearfix">
          <div class="price_item old">
            <div class="text">Звичайна ціна:</div>
            <div class="value"><%= price_old %> грн</div>
          </div>
          <div class="price_item new">
            <div class="text">Ціна зі знижкою:</div>
            <div class="value"><%= price_new %> грн</div>
          </div>
        </div>
        <div class="timer">
            <p>Пропозиція діє:</p>
            <div class="timer_container">
              <div class="timer_block">
                <div class="count hours"></div>
                <div class="text">годин</div>
              </div>
              <div class="timer_block">
                <div class="count minutes"></div>
                <div class="text">хвилин</div>
              </div>
              <div class="timer_block">
                <div class="count seconds"></div>
                <div class="text">секунд</div>
              </div>
            </div>
          </div>
          <form
          id="order_form"
          class="order_form"
          action="/ok"
          method="POST"
          name="order-form"
          >
            <input
              class="field"
              type="text"
              name="name"
              placeholder="Ваше ім'я"
              required=""
            />
            <input
              class="field"
              type="tel"
              name="phone"
              minlength="10"
              maxlength="15"
              placeholder="Ваш телефон"
              required=""
            />
                      <select class="field" name="comment" id="" required>
              <option value="" selected>Оберіть колір</option>
              <option value="Чорний">Чорний</option>
              <option value="Сірий">Сірий</option>
              <option value="Пурпур">Пурпур</option>
              <option value="Хакі">Хакі</option>
              <option value="Електрик">Електрик</option>
              <option value="Малина">Малина</option>
              <option value="Блакитний">Блакитний</option>
            </select>
            <div style="margin: 0 auto 15px;font-size: 15px; width: 380px; color: #000;">
                      <input id="data1" class="custom-checkbox" value="true" type="checkbox" required checked/>
                      <label for="data1">Я погоджуюся з політикою конфіденційності</label>
                  </div>
            <img src="img/loading-1.gif" alt="" class="img-loading" />
            <button class="button">Замовити зі знижкою</button>
          </form>
      </section>
      <footer class="footer_section">
        <a style="color: inherit" href="politics-1.html"
          >Політика конфеденційності</a
        >
        <br />
        <a style="color: inherit" href="agreement-1.html">Угода користувача</a>
        <br />
        <a style="color: inherit" href="garantiya-1.html"
          >Умови гарантії та повернення</a
        >
      </footer>
      <div class="yvedw">
        <div class="yved yvedf1">
          Ольжина Анастасія, м.Дніпро, оформила замовлення.
        </div>
        <div class="yved yvedf2">
          Батаєва Олена, м.Одеса, залишила заявку на зворотній дзвінок
        </div>
        <div class="yved yvedf1">
          Вікторія Єфимова, м.Київ, оформила замовлення.
        </div>
        <div class="yved yvedf2">
          Наталія Лисець, м.Львів, залишила заявку на зворотній дзвінок
        </div>
      </div>
      <style>
        .yved {
          position: fixed;
          top: 10px;
          left: 50%;
          transform: translateX(-50%);
          width: 300px;
          text-align: center;
          color: white;
          padding: 10px;
          font-size: 15px;
          border-radius: 10px;
          display: none;
          z-index: 9999;
        }
        .yvedf1 {
          background-color: #363636;
        }
        .yvedf2 {
          background-color: #cd5555;
        }
        .img-loading {
          display: none;
          width: 50px;
          margin: 0 auto;
        }
      </style>
    </div>

    <script
      src="jquery-3.6.3.min-1.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script src="js/previewYouTube-1.js"></script>
    <script src="js/owl.carousel.min-1.js"></script>
    <script src="js/scripts-1.js?1.0"></script>
    <script type="text/javascript" src="js/maskedinput-1.js"></script>
    <script>
      $(document).ready(function () {
        var i = 0;

        function yved() {
          i = 1;
          $(".yved:nth-child(" + i + ")")
            .fadeIn(500)
            .delay(7000)
            .fadeOut(500);
        }
        setTimeout(function () {
          setInterval(function () {
            i = i + 1;
            if (i > 10) i = 1;
            $(".yved:nth-child(" + i + ")")
              .fadeIn(500)
              .delay(7000)
              .fadeOut(500);
          }, 30000);
          yved();
        }, 10000);
      });
    </script>
    <script>
      $(".order_form").submit(function () {
        $(this).children(".button").hide();
        $(".img-loading").css("display", "block");
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
      const swiper = new Swiper(".swiper-container", {
        slidesPerView: 1,
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        speed: 600,
      });
    </script>

    <!-- /scripts -->
  </body>
</html>
